<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>modifcl</servlet-name>
        <servlet-class>src.com.servlet.modifcl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>supclient</servlet-name>
        <servlet-class>src.com.servlet.supclient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servresp</servlet-name>
        <servlet-class>src.com.servlet.servresp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>supcrd</servlet-name>
        <servlet-class>src.com.servlet.supcrd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajoutcrd</servlet-name>
        <servlet-class>src.com.servlet.ajoutcrd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajoutcl</servlet-name>
        <servlet-class>src.com.servlet.ajoutcl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>src.com.servlet.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modico</servlet-name>
        <servlet-class>src.com.servlet.modico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>supcompte</servlet-name>
        <servlet-class>src.com.servlet.supcompte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajoutres</servlet-name>
        <servlet-class>src.com.servlet.ajoutres</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modifresp</servlet-name>
        <servlet-class>src.com.servlet.modifresp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>supresp</servlet-name>
        <servlet-class>src.com.servlet.supresp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajoutdem</servlet-name>
        <servlet-class>src.com.servlet.ajoutdem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modifcr</servlet-name>
        <servlet-class>src.com.servlet.modifcr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajdemande</servlet-name>
        <servlet-class>src.com.servlet.ajdemande</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modifdema</servlet-name>
        <servlet-class>src.com.servlet.modifdema</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>supdemande</servlet-name>
        <servlet-class>src.com.servlet.supdemande</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>accept</servlet-name>
        <servlet-class>src.com.servlet.accept</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rejet</servlet-name>
        <servlet-class>src.com.servlet.rejet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout1</servlet-name>
        <servlet-class>src.com.servlet.logout1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajoutrach</servlet-name>
        <servlet-class>src.com.servlet.ajoutrach</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajnotif</servlet-name>
        <servlet-class>src.com.servlet.ajnotif</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>modifcl</servlet-name>
        <url-pattern>/modifcl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>supclient</servlet-name>
        <url-pattern>/supclient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servresp</servlet-name>
        <url-pattern>/servresp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>supcrd</servlet-name>
        <url-pattern>/supcrd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajoutcrd</servlet-name>
        <url-pattern>/ajoutcrd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajoutcl</servlet-name>
        <url-pattern>/ajoutcl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modico</servlet-name>
        <url-pattern>/modico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>supcompte</servlet-name>
        <url-pattern>/supcompte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajoutres</servlet-name>
        <url-pattern>/ajoutres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modifresp</servlet-name>
        <url-pattern>/modifresp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>supresp</servlet-name>
        <url-pattern>/supresp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajoutdem</servlet-name>
        <url-pattern>/ajoutdem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modifcr</servlet-name>
        <url-pattern>/modifcr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajdemande</servlet-name>
        <url-pattern>/ajdemande</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modifdema</servlet-name>
        <url-pattern>/modifdema</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>supdemande</servlet-name>
        <url-pattern>/supdemande</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accept</servlet-name>
        <url-pattern>/accept</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rejet</servlet-name>
        <url-pattern>/rejet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout1</servlet-name>
        <url-pattern>/logout1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajoutrach</servlet-name>
        <url-pattern>/ajoutrach</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajnotif</servlet-name>
        <url-pattern>/ajnotif</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
